{% extends "_shared/_layout" %}
{% set testimonials = craft.entries.section('testimonials').orderBy('RAND()').limit(2).all() %}

{% block main %}
    <main>
        <div class="relative py-16 bg-white overflow-hidden">
            <div class="relative px-4 sm:px-6 lg:px-8">
                <div class="text-lg max-w-prose mx-auto">
                    <h1>
                        <span class="mt-2 block text-3xl text-center leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl">{{ entry.title }}</span>
                    </h1>
                </div>
                <div class="mt-6 prose prose-gray prose-lg text-gray-500 mx-auto">
                    {{ entry.richTextContent }}
                </div>
            </div>
        </div>

        <section class="overflow-hidden md:py-20 lg:py-20 bg-white">
            <div class="relative max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
                <div class="relative">
                    <blockquote class="">
                        <div
                                class="max-w-3xl mx-auto text-center text-4xl leading-9 font-bold text-secondary"
                        >
                            <p>
                                &ldquo;{{ testimonials[0].testimonial }}&rdquo;
                            </p>
                        </div>
                        <footer class="mt-8">
                            <div class="md:flex md:items-center md:justify-center">
                                <div
                                        class="mt-3 text-center md:mt-0 md:ml-4 md:flex md:items-center"
                                >
                                    <div class="text-base font-medium text-gray-900">
                                        {{ testimonials[0].title }} &nbsp;
                                    </div>
                                    <div class="text-base font-medium text-gray-500">
                                        {{ testimonials[0].location }}
                                    </div>
                                </div>
                            </div>
                        </footer>
                    </blockquote>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
